{% extends "layout.html" %}

{% block panel %}
<div>
    <h2 style="display:inline; padding-right:20px">{{pc.name}}</h2>
    {{pc.alignment}}
    {{pc.race}}
</div>


<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#overview" role="tab" data-toggle="tab">Overview</a></li>
  <li><a href="#combat" role="tab" data-toggle="tab">Combat Stats</a></li>
  <li><a href="#skills" role="tab" data-toggle="tab">Skills</a></li>
  <li><a href="#special" role="tab" data-toggle="tab">Special Abilities</a></li>
  <li><a href="#equipment" role="tab" data-toggle="tab">Equipment</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="overview">{% include "show/_overview.html" %}</div>
    <div class="tab-pane" id="combat"></div>
    <div class="tab-pane" id="skills">{% include "show/_skills.html" %}</div>
    <div class="tab-pane" id="special">{% include "show/_special.html" %}</div>
    <div class="tab-pane" id="equipment">...</div>
</div>

{% endblock %}
